<nav class='u-pt3'>
  <ul class='UIList UIList--inline'>
    {{#each collections.pages as |page|}}
      <li class='UIList__item u-p0 u-lt-1 u-mr3'>
      {{#equal page.title 'Tacoma.js'}}
        <a href="/" title="{{page.title}}">Home</a>
      {{else}}
        <a href="{{page.permalink}}" title="{{page.title}}">{{page.title}}</a>
      {{/equal}}
      </li>
    {{/each}}
  </ul>
</nav>
